language: python
dist: xenial
python:
  - "3.6"
  - "3.7"
  - "3.8"

env:
  global:
    - PIPENV_VENV_IN_PROJECT=1
    - PIPENV_IGNORE_VIRTUALENVS=1
install:
  - make setup
script:
  - make test_mypy
  - make test_unit
  - make test_format
  - make enforce_docs