[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
setuptools = "~=59.6.0"
build = "~=0.8.0"
mypy = "==0.971"
black = "~=22.3.0"
interrogate = "~=1.2"
safety = "~=1.9.0"
pytest = "~=6.2.1"
pytest-benchmark = "~=3.4.1"
pytest-cov = "*"
pytest-asyncio = "*"
typing-extensions = "*"
mkdocs = "~=1.2.2"
mkdocs-material = "*"
mkdocstrings = {version = "~=0.19.0", extras = ["python"]}
# Needed for the Env class
pydantic = "~=1.8"
# Needed for the integrations only
starlette = "~=0.14"
fastapi = "~=0.68"
flask = "~=2.1"
django = "~=3.0"
click = "*"
