[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.800"
black = "==20.8b1"
flit = "~=3.0"
interrogate = "~=1.2"
safety = "~=1.9.0"
pytest = "~=6.2.1"
pytest-cov = "*"
pytest-asyncio = "*"
typing-extensions = "*"
mkdocs = "~=1.1.2"
mkdocs-material = "*"
# Needed for the Env class
pydantic = "~=1.6.1"
# Needed for the integrations only
starlette = "~=0.13.6"
fastapi = "~=0.61.1"
flask = "~=1.1"
django = "~=3.0"
click = "*"
