[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mypy = "==0.770"
black = "==19.10b0"
flit = "~=2.3"
mutmut = "~=2.0.0"
interrogate = "~=1.2"
safety = "~=1.9.0"
pytest = "~=5.4.1"
pytest-cov = "*"
pytest-asyncio = "*"
typing-extensions = "*"
# Needed for the integrations only
starlette = "~=0.13.2"
fastapi = "~=0.54.2"
flask = "~=1.1"
django = "~=3.0"
