name: Upload Python Package

# TODO: switch to
#      release:
#        types: [created]
on: [pull_request]

jobs:
  mac-and-windows-and-linux-publish:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [macOS-latest, windows-latest, linux-latest]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: 3.8
    - name: Install deps
      run: python -m pip install cibuildwheel==2.9.0 twine==4.0.1
    - name: Build wheels
      env:
        CIBW_PROJECT_REQUIRES_PYTHON: ">=3.7.0"
        CIBW_BUILD: "cp3*"
      run: python -m cibuildwheel --output-dir wheelhouse
    - name: Publish
      env:
        TWINE_USERNAME: __token__
        TWINE_PASSWORD: ${{ secrets.PYPI_TOKEN }}
      run: |
        twine upload --skip-existing wheelhouse/*
